
<div>
    <form #testForm="ngForm">
        <input type="text" name="test" (keydown)="keydown()" required [(ngModel)]="username">
        <br>
        <br>
        <input type="password" [(ngModel)]="password" required name="test2" >
        <br>
        <input type="radio">
        <br>
        <button type="button" [disabled]="!testForm.valid" (click)="submit()">Send me</button>
    </form>
</div>
<br>
<br>

<div>
    <form [formGroup]="form2">
        <input type="text" name="test" formControlName="email">
        <br>
        <br>
        <input type="number" name="test" formControlName="age">
        <button type="button" [disabled]="!form2.valid" (click)="submit()">Send me</button>
    </form>
</div>
<br>

<div>
    <form [formGroup]="form3">
        <input type="text" formControlName="fcontrol1">
        <br>
        <br>
        <input type="number" formControlName="fcontrol2">
        <button type="button" [disabled]="!form2.valid" (click)="submit()">Send me</button>
    </form>
</div>

<br>
<br>

<input type="text" [formControl]="formControlExample">

<button (click)="formControl()">Form Control</button>
<br>
<span style="color: firebrick; font-size: 30px; font-weight: 900;" *ngIf="hasError">
    {{errorMessage}}
</span>
